.content{
    margin-top: 8%;
    width: 100%;
    height: 100%;
}
.border {
    
    border: 1px solid yellow;
    margin: 5% 6%;
}
.content h2 {
    margin-left: 5%;
    font-size: 18px;
    
}
.level {
    background: #dbf1fa;
    box-shadow: 0px 0px 6px #9be3ff;
    width: 100%;
    height: 100px;
    
}
.content .a {
    position: relative;
    display: flex;
    text-align: center;
    background-color: #70af3c;
    color: #FDFB9C;
    font-size: 16px;
    margin: 1% 0;
    padding: 34px 5%;
    text-decoration: none;
}